body, h1, h2, h3, h4, h5, h6, p, li, ul, ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

input {
    outline: none;
}

li, ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    min-width: 320px;
    max-width: 10rem;
    margin: 0 auto;
    background: #efefef;
    font: 16px/1.5 "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif, 'Microsoft Yahei', Simsun;
    color: #333;
    -webkit-overflow-scrolling: touch;
}