header {
    height: 1.4375rem;
}

.header-inner {
    width: 10rem;
    min-width: 320px;
    height: 1.4375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #ffd600;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -5rem;
    box-sizing: border-box;
}

header a {
    display: block;
    text-align: center;
    font-size: 0.667em;
}

header .address {
    display: inline-block;
    font-size: 1.1667em;
}

header div img {
    width: 0.625rem;
    height: 0.625rem;
}

.banner img {
    width: 100%;
}

.banner a {
    display: block;
}