header {
    height: 1.4375rem;
}

.header-inner {
    width: 100%;
    max-width: 10rem;
    min-width: 320px;
    height: 1.4375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #ffd600;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    z-index: 100;
}

header a {
    display: block;
    text-align: center;
    font-size: 0.667em;
}

header .address {
    display: inline-block;
    font-size: 1.1667em;
}

header div img {
    width: 0.625rem;
    height: 0.625rem;
}

.banner img {
    width: 100%;
}

.banner a {
    display: block;
}

section {
    margin-bottom: 0.3125rem;
    background: #fff;
}

.menu {
    padding: 0.3125rem;
    box-sizing: border-box;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    width: 25%;
    text-align: center;
}

.menu ul li a{
    color: #353d44;
}

.menu ul li img {
    width: 100%;
}