header {
    height: 1.4375rem;
}

.header-inner {
    border-bottom: 2px solid #e0e0e0;
    background: #f9fafd;
}

header h2 {
    text-align: center;
    line-height: 1.4375rem;
    font-size: 1.166em;
}

.inner {
    padding-left: 1.25em;
}

.location {
    height: 1.5rem;
    background: #fff;
    font-size: 1em;
    color: #e64f1a;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.tip {
    background: #fff;
    border-bottom: 2px solid #e0e0e0;
    padding-top: 0.667em;
    padding-bottom: 0.41667em;
    color: #999;
}

.border {
    width: 0.333em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffd600;
    border-radius: 2px;
}

.tip .spm {
    font-size: 1em;
    text-indent: 0.8333em;
    position: relative;
    line-height: 1;
    margin-bottom: 1.3em;
}

.tipInfo {
    font-size: 0.9em;
}

section {
    height: 1.5625rem;
    border-bottom: 2px solid #e0e0e0;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
}

.sdTime {
    color: #e64f1a;
    text-indent: 1em;
    flex: 1;
}

.reservable {
    float: right;
    padding-right: 1em;
}

.reservable a {
    color: #333;
}

.remark {
    margin-right: 1em;
}

.remarkInput {
    flex: 1;
    height: 1.0468rem;
    box-sizing: border-box;
    border: 2px solid #cecece;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 1em;
    margin-right: 1em;
}
